body {
  margin: 10px;
  height: 100%;
}

main {
  display: grid;
  grid-template: "nav head"min-content "nav main"1fr / min-content 1fr;
  height: 100vh;
  overflow: scroll;
}

nav {
  grid-area: nav;
  overflow: auto;
  resize: horizontal;

  min-width: 120px;
  max-width: 50vw;
  
}

header {
  grid-area: head;
  background-color: cadetblue;
  overflow: auto;
  resize: vertical;

  min-height: min-content;
  max-height: 100px;
}

section {
  grid-area: main;
  background-color: gray;
}


.container {
  &.app-home {
    max-width: 100% !important;
    margin: 0;
    padding: 0;
  }
}
